// Button
$button-background-main: #2ECC71;
$button-background-main-disabled: #437759;
$button-color-main: #fff;
$button-height-base: 20px;
$button-width-base: 20px;

// Container
$container-background-main: #ECF0F1;
$container-previsualizacao: #A2A5A6;

// Bordar
$borda-background-black: #818384;

//Color
$color-highlighted: #2ECC71;